* { 
	margin: 0; 
	padding: 0; 
}

body {
	background: #0A7067;
	color: #fff;
}

#main {
	width: 800px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -100px;
}

#logo {
	width: 150px;
	height: 150px;
	position: relative;
	float: left;
}

#logo #top-left {
	width: 45px;
	height: 40px;	
	left: 0;
	top: 0;
}

#logo #top-right {
	width: 105px;
	height: 105px;
	top: 0;
	right: 0;
	z-index: 2;
	background: #0A7067;
}

#logo #top-right #top-right-inner {
	background: #fff;
	width: 100px;
	height: 100px;
	margin-left: 5px;
	margin-bottom: 5px;
}

#logo #bottom-left {
	width: 105px;
	height: 105px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}


#logo #bottom-right {
	width: 40px;
	height: 45px;
	bottom: 0;
	right: 0;
}

#logo div {
	background: #fff;
	border-radius: 8px;
	position: absolute;
}

#text {
	float: right;
	height: 200px;
	margin-top: -40px;
}

#text #part1 {
	font-size: 9em;
	text-transform: lowercase;
	font-family: 'Open Sans', sans;
	letter-spacing: -.11em;
}

#text #part2 {
	font-size: 7.7em;
	text-transform: uppercase;
	font-family: 'Advent Pro', sans, serif;
	letter-spacing: -.08em;
	font-weight: 300;
	margin-left: 10px;
}

#text #slogan {
	font-size: 1.1em;
	text-align: right;
	font-family: Arial, serif;
	margin-top: -15px;
}

